doctype html
head
  meta(charset='UTF-8')
  title fastrack
  link(rel='stylesheet', href='/stylesheets/full_style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')


body
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.disabled(href='') 대기리스트
        li.nav-item
          a.nav-link(href='/reservation') 오프라인 예약
        li.nav-item
          a.nav-link(href='/mypage') 내 정보 수정
        li.nav-item
          a.nav-link(href='/mymenu') 우리가게 메뉴
      form#fr.form-inline.mt-2.mt-md-0(action='/logout')
        button.btn.btn-outline-info.my-2.my-sm-0(type='button', onclick='logout()') 로그아웃

  main.container(role='main')
    .jumbotron
      input#email(type="hidden", name='email', value=email)
      input#full(type='checkbox', name='full', onclick='check(this)')
      label(for='full') 만석시 체크해주세요.
  div(claas='table-responsive')
  table.table.table-striped.table-sm
    thead
      tr
        th 이메일
        th 전화번호
        th 인원 수
        th 예약 시간
        th 호출
        th 삭제
    tbody#tableBody



script(src='http://code.jquery.com/jquery-1.10.2.js')
script.
  var temp1 = "";
  var temp2 = "";
  var temp3 = "";
  var temp4 = "";

  var userEmail = new Array();
  var userPhone = new Array();
  var userTotal = new Array();
  var userDate = new Array();
  userEmail = '#{emailArray}';
  userPhone = '#{phoneArray}';
  userTotal = '#{totalArray}';
  userDate = '#{dateArray}';

  var splitedUserEmail = userEmail.split(',');
  var splitedUserPhone = userPhone.split(',');
  var splitedUserTotal = userTotal.split(',');
  var splitedUserDate = userDate.split(',');

  $(document).ready(function() {
    for(var i = 0; i < #{length}; i++) {
      var tableBody = document.getElementById('tableBody');
      var row = tableBody.insertRow(tableBody.rows.length);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      var cell6 = row.insertCell(5);

      temp1 = splitedUserEmail[i];
      temp2 = splitedUserPhone[i];
      temp3 = splitedUserTotal[i];
      temp4 = splitedUserDate[i];

      cell1.innerHTML = temp1;
      cell2.innerHTML = temp2;
      cell3.innerHTML = temp3;
      cell4.innerHTML = temp4;
      cell5.innerHTML = "<form action='/main/call' method='post'><button value='"+temp2+"' type='submit' id='call_user'>호출</button></form>";
      cell6.innerHTML = "<form action='/main/delete' method='post'><button value='"+temp2+"' type='submit' id='delete_reservation' name='dphone'>삭제</button></form>";
    }
  });
  var k = {
    email: $('#email').val(),
    full: true
  };
  var kk = {
    email: $('#email').val(),
    full: false
  };
  $(document).ready(function() {
    $('#full').click(function() { });
  });

  function check(box) {
    if(box.checked == true) {
      $('#full').click(function() {
        $.ajax({
          url: 'http://54.164.52.65:3000/buser/fullCheck',
          type: 'post',
          dataType: 'json',
          data: k,
          success: function(data) {
            console.log("데이터가 전송되었습니다");
          }
        });
      });
    }
    else {
      $('#full').click(function() {
        $.ajax({
          url: 'http://54.164.52.65:3000/buser/fullCheck',
          type: 'post',
          dataType: 'json',
          data: kk,
          success: function(data) {
            console.log("데이터가 전송되었습니다");
          }
        });
      });
    }
  }
  function logout(){
    var con = confirm("로그아웃 하시겠습니까?");
    if(con){
      location.href="/logout";
    }
    else{}

  }
