doctype html
head
  meta(charset='UTF-8')
  title title
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')

body
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/main') 대기리스트
        li.nav-item
          a.nav-link(href='/reservation') 오프라인 예약
        li.nav-item
          a.nav-link.disabled(href='/mypage') 내 정보 수정
        li.nav-item
          a.nav-link(href='/mymenu') 우리가게 메뉴
      form#fr.form-inline.mt-2.mt-md-0(action='/logout')
        button.btn.btn-outline-info.my-2.my-sm-0(type='button', onclick='logout()') 로그아웃


  main.container(role='main')
    .jumbotron
      br
      h3.mb-3 내 정보 수정하기
      br
      form.needs-validation(novalidate='', name='mypage_fr', action='/mypage/modify', method='post', onsubmit="return check();")
          .mb-3
            label(for='email') E-mail
              input#email.form-control(type='email', name='email', required='', value=user_email, placeholder=user_email, disabled='')
          .mb-3
            label(for='pw') PASSWORD
            input#pw.form-control(type='password', name='pw', required='')
            .invalid-feedback
              | 비밀번호를 입력하세요

          .mb-3
            label(for='px_chk') PASSWORD_CHECK
            input#pw_chk.form-control(type='password', name='pw_chk', required='')
            .invalid-feedback
              | 비밀번호를 한번 더 입력하세요

          #alert-success.alert.alert-success
            | 비밀번호가 일치합니다.
          #alert-danger.alert.alert-danger
            | 비밀번호가 일치하지 않습니다.

          .mb-3
            label(for='bname') STORE_NAME
            input#bname.form-control(type='text', name='bname', required='', value=store_name, placeholder='STORE_NAME')
            .invalid-feedback
              | 가게 이름을 입력하세요

          .mb-3
            label(for='tel') STORE_TEL
            input#tel.form-control(type='text', name='tel', required='', value=store_tel, placeholder='STORE_TEL')
            .invalid-feedback
              | 가게 번호를 입력하세요

          .mb-3
            label(for='addr') STORE_ADDRESS
            input#addr.form-control(type='text', name='addr', required='', value=store_add, placeholder='STORE_ADDRESS')
            .invalid-feedback
              | 가게 주소를 입력하세요

          br
          button.btn.btn-outline-info.btn-lg.btn-block(type='submit', onclick='onJoin()') 수정하기

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='/javascripts/bootstrap.js', integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin="anonymous" )
script(src='/javascripts/form-validation.js')
script.

  $(function(){
        $("#alert-success").hide();
        $("#alert-danger").hide();
        $("input").keyup(function(){
            var pwd1=$("#pw").val();
            var pwd2=$("#pw_chk").val();
            if(pwd1 != "" || pwd2 != ""){
                if(pwd1 == pwd2){
                    $("#alert-success").show();
                    $("#alert-danger").hide();
                    $("#submit").removeAttr("disabled");
                }else{
                    $("#alert-success").hide();
                    $("#alert-danger").show();
                    $("#submit").attr("disabled", "disabled");
                }
            }
        });
    });


 function logout(){
   var con = confirm("로그아웃 하시겠습니까?");
   if(con){
     location.href="/logout";
   }
   else{}

 }
 function check(){
   if (mypage_fr.pw.value != mypage_fr.pw_chk.value ){
     alert("비밀번호 확인이 일치하지 않습니다");
     mypage_fr.pw_chk.focus();
     return false;
   }
   return true;
 }
