doctype html
head
  meta(charset='UTF-8')
  title sign up
br
form(name='fr', action='/member', method='post', onsubmit='checkPW()')
  | Email:
  br
  input#email(name='email', type='email')
  input#chk_email(type='button', value='confirm email', onclick='checkEMAIL()')
  br
  |   Password:
  br
  input(name='pw', type='password')
  br
  |   confirm Password:
  br
  input(name='chk_pw', type='password')
  br
  |   store name:
  br
  input(name='bname', type='text')
  br
  |   store tel:
  br
  input(name='tel', type='text')
  br
  |   store address:
  br
  input(name='addr', type='text')
  br
  br
  input(type='submit', value='submit')
script(type='text/javascript').
  function checkPW() {
  if(fr.email.value == ""){
  alert("Enter email.");
  }
  if (fr.pw.value == "" || fr.chk_pw.value == "") {
  alert("Enter password.");
  fr.pw.focus();
  console.log("Enter password");
  return false;
  }
  if (fr.pw.value != fr.chk_pw.value) {
  alert("password incorrect.");
  fr.pw.focus();
  console.log("password incorrect");
  return false;
  }
  return true;
  }
  function checkEMAIL() {
  var obj1 = fr.email.value;
  if (obj1 == "")
  alert("please write your email down");
  else {
  var form = document.createElement("form");
  form.setAttribute("method", "post");
  form.setAttribute("action", "/member/repetition");
  var hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", "email");
  hiddenField.setAttribute("value", obj1);
  form.appendChild(hiddenField);
  var url = "http://54.180.123.67:3000/buser/repetition";
  var title = "sign up";
  var status = "toolbar=no,directories=no,scrollbars=no,resizable=no,status=no,menubar=no,width=200, height=200, top=50,left=50";
  window.open("", title, status);
  form.target = title;
  document.body.appendChild(form);
  form.submit();
  }
  }
